#slider, #slider--2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
	position: relative;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 30%);
}
#slider--2{
	width: 100%;
}

#slider .slideshow, #slider--2 .slideshow2 {
	display: none;
	width: 100%;
}
#slider .slideshow.active, #slider--2 .slideshow2.active {
	display: block;
}

/*ajout du carousel*/ 
#slider .arrow, #slider--2 .arrow2{
	position: absolute;
	cursor: pointer;
	width: 40px;
	height: auto;
}
#slider .arrow--left, #slider--2 .arrow2--left {
	left: -20px;
}
#slider .arrow--right, #slider--2 .arrow2--right {
	right: -20px;
}

/* Gestion des points du carrousel */
.dots, .dots2 {
	position: absolute;
	bottom: -16px;
	display: flex;
}
.dot, .dot2 {
	margin-inline: 5px;
	width: 7px;
	height: 7px;
	background-color: #8f8d9b;
	border-radius: 100%;
}
.dot--selected, .dot2--selected{
	background-color: var(--color-text);
}
