@import url("https://fonts.googleapis.com/css?family=Work+Sans:400");
@import url("https://code.highcharts.com/css/highcharts.css");
@font-face {
  font-family: GoshaSans;
  src: url(../assets/PPGoshaSans-Regular.otf);
}
body {
  font-family: GoshaSans;
  font-size: 20px;
  line-height: 1.75;
  font-weight: 400;
  color: #DCFFFD;
}

html {
  font-size: 125%;
}

.paragraph {
  font-family: Work Sans;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}

.title {
  font-size: 2.488rem;
  color: #00FAEB;
}

.bigtitle {
  font-size: 3.583rem;
  color: #00FAEB;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.074rem;
}

.navtext, .subsubtitle {
  font-family: Work Sans;
  font-size: 1.2rem;
}

button, .text_small {
  font-family: Work Sans;
  font-size: 0.833rem;
}

:root {
  /* Colors for data series and points */
  --highcharts-color-0: rgba(27, 244, 231, .55) ;
  --highcharts-color-1: #c4688c;
  --highcharts-color-2: #78a8d1;
  --highcharts-color-3: #7991d2;
  --highcharts-color-4: #7d7bd4;
  --highcharts-color-5: #977dd5;
  --highcharts-color-6: #b3597c;
  --highcharts-color-7: #b27fd6;
  /* UI colors */
  --highcharts-background-color: rgba(255, 255, 255, 0);
  --highcharts-background-color-tooltip: rgba(255, 255, 255, .5);
  /*
      Neutral color variations
      https://www.highcharts.com/samples/highcharts/css/palette-helper
  */
  --highcharts-neutral-color-100: rgb(255, 255, 255);
  --highcharts-neutral-color-80: rgb(214, 214, 214);
  --highcharts-neutral-color-60: rgb(173, 173, 173);
  --highcharts-neutral-color-40: rgb(133, 133, 133);
  --highcharts-neutral-color-20: rgb(92, 92, 92);
  --highcharts-neutral-color-10: rgb(71, 71, 71);
  --highcharts-neutral-color-5: rgb(61, 61, 61);
  --highcharts-neutral-color-3: rgb(57, 57, 57);
  /* Highlight color variations */
  --highcharts-highlight-color-100: rgb(122, 167, 255);
  --highcharts-highlight-color-80: rgb(108, 144, 214);
  --highcharts-highlight-color-60: rgb(94, 121, 173);
  --highcharts-highlight-color-20: rgb(65, 74, 92);
  --highcharts-highlight-color-10: rgb(58, 63, 71);
}

.highcharts-tooltip text {
  fill: var(--highcharts-neutral-color-80);
  font-size: 1em;
}

.highcharts-tooltip .highcharts-header {
  font-size: 0.8em;
}

.highcharts-tooltip-box {
  stroke-width: 1px;
  fill: var(--highcharts-background-color-tooltip);
}

.highcharts-tooltip-box {
  stroke-width: 0;
  fill: var(--highcharts-background-color-tooltip);
}

.highcharts-tooltip-box .highcharts-label-box {
  fill: var(--highcharts-background-color-tooltip);
}

* {
  margin: 0;
  padding: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: 0fr minmax(0, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 100%;
}

body {
  background-color: #020E12;
  background-image: url(../assets/images/quadrillage.svg);
  background-size: contain;
  background-position: top 132px right 0px;
  line-height: 1.5;
  color: #DCFFFD;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 56px;
  margin-bottom: 40px;
}

.fullscreen {
  height: calc(100vh - 96px);
}

nav {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 56px;
  grid-area: 1/1/2/10;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  z-index: 2;
  height: 32px;
}
nav h1 {
  font-size: 1.2rem;
}
nav .navtext {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navtext a {
  text-decoration: none;
  color: #DCFFFD;
}
nav .navtext a:hover {
  color: #00FAEB;
}
nav .nav__links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  width: 25%;
  min-width: 400px;
}
nav .nav__links a {
  text-decoration: none;
  color: #DCFFFD;
}
nav .nav__links .links__el {
  position: relative;
}
nav .nav__links .links__el::after {
  content: "";
  display: block;
  width: 0%;
  transition: width 0.3s;
  border-bottom: 1px solid #00FAEB;
}
nav .nav__links .links__el:hover {
  transition: 0.3s;
}
nav .nav__links .links__el:hover::after {
  width: 100%;
  transition: width 0.3s;
}
nav .nav__links .links__el--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 10%;
  border-bottom: 1px solid #00FAEB;
}
nav .nav__links .links__el--active:hover {
  transition: 0.3s;
}
nav .menu--active {
  border-bottom: 1px solid #DCFFFD;
}

.corps__hm {
  width: 600px;
  height: 800px;
  fill-opacity: 1;
}

.detail__hm {
  position: absolute;
  background-color: rgba(220, 255, 253, 0.6);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}
.detail__hm .cadre {
  color: black;
}
.detail__hm .title__cadre {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.detail__hm .title__cadre .nbr--big {
  font-size: 24px;
}
.detail__hm ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icons {
  z-index: -1;
}
.icons .icon {
  position: absolute;
}
@keyframes float1 {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(50px, 50px) rotate(180deg) scale(0.5);
  }
  100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
  }
}
@keyframes float2 {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(-50px, -50px) rotate(180deg) scale(2);
  }
  100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
  }
}
.icons .icon:nth-child(1) {
  top: 72%;
  left: 65%;
  animation: float1 8s infinite ease-in-out;
  animation-delay: 2s;
}
.icons .icon:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: float2 6s infinite ease-in-out;
}
.icons .icon:nth-child(3) {
  top: 15%;
  left: 25%;
  animation: float1 8s infinite ease-in-out;
  animation-delay: 2s;
}
.icons .icon:nth-child(4) {
  top: 50%;
  left: 20%;
  animation: float2 6s infinite ease-in-out;
}
.icons .icon:nth-child(5) {
  top: 70%;
  left: 85%;
  animation: float1 5s infinite ease-in-out;
}
.icons .icon:nth-child(6) {
  top: 55%;
  left: 90%;
  animation: float2 8s infinite ease-in-out;
  animation-delay: 2s;
}
.icons .icon:nth-child(7) {
  top: 23%;
  left: 10%;
  animation: float1 5s infinite ease-in-out;
}
.icons .icon:nth-child(8) {
  top: 20%;
  left: 60%;
  animation: float2 6s infinite ease-in-out;
}
.icons .icon:nth-child(9) {
  top: 75%;
  left: 30%;
  animation: float1 8s infinite ease-in-out;
  animation-delay: 2s;
}
.icons .icon:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: float2 6s infinite ease-in-out;
  animation-delay: 2s;
}
.icons .icon:nth-child(11) {
  top: 23%;
  left: 45%;
  animation: float1 5s infinite ease-in-out;
}
.icons .icon:nth-child(12) {
  top: 75%;
  left: 10%;
  animation: float2 8s infinite ease-in-out;
  animation-delay: 5s;
}
.icons .title--big {
  font-size: 3.583rem;
  color: #00FAEB;
  text-transform: uppercase;
}

.title {
  margin-bottom: 15px;
  text-align: left;
}

.subtitle {
  margin-top: 3%;
  margin-left: 2%;
  color: #00FAEB;
  text-transform: uppercase;
}

/* STYLE TEXT LANDING */
.title-big {
  font-size: 5.16rem;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-size: 2.488rem;
  margin-bottom: 48px;
}

.title-little {
  font-size: 1.728rem;
  margin-bottom: 16px;
}

.text-big {
  font-size: 1.44rem;
  margin-bottom: 24px;
  font-family: Work Sans;
  text-align: center;
  max-width: 1059px;
}

.text-big--solo {
  padding-top: 50.01vh;
}

.text {
  margin-bottom: 24px;
  font-family: Work Sans;
  max-width: 625px;
}

.text-little {
  font-size: 0.833rem;
}

.legend-number {
  font-size: 0.694rem;
}

.text-color {
  color: #00FAEB;
}

.text--center {
  text-align: center;
}

/* text inteface */
.text-i {
  max-width: 550px;
}

/* sections landing */
.section {
  height: 100vh;
  width: 100vw;
  width: calc(100vw - 80px);
}

.section--1 {
  height: calc(100vh - 132px);
}
.section--1 .home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--1 .text-big span {
  text-transform: uppercase;
}

.section--2, .section--6, .section--9 {
  display: flex;
  justify-content: center;
}

.section--3, .section--7, .section--10 {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-auto-rows: min-content;
  grid-column-gap: 20px;
}
.section--3 .title, .section--7 .title, .section--10 .title {
  grid-column: 2/6;
  margin-top: 20vh;
}
.section--3 .text, .section--7 .text, .section--10 .text {
  grid-column: 2/6;
}

.section--9 .div9 .text-big {
  margin-bottom: 56px;
}
.section--9 .div9 .links9 {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: auto 260px;
}
.section--9 .div9 .links9 .link {
  display: block;
  padding: 16px 26px;
  text-decoration: none;
  cursor: pointer;
  color: #DCFFFD;
  border: 1px solid #00FAEB;
  background-color: rgba(0, 250, 233, 0.05);
}

.main__body {
  grid-area: 2/1/3/4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.main__body .body__svg {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
}
.main__body .body__svg .active, .main__body .body__svg .active path {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
}
.main__body .body__svg .body__main:hover path {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__bras:hover path {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__torse:hover {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__tete:hover {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__oeil:hover path {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__bouche:hover {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__oreille:hover path {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__pied:hover path {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__jambe:hover path {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .body__svg .body__bassin:hover {
  fill: rgba(27, 244, 231, 0.55);
  fill-opacity: 1;
  cursor: pointer;
}
.main__body .main__objet {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main__body .main__objet svg {
  display: none;
  margin: auto;
  height: 100%;
}
.main__body .main__objet svg.active {
  display: flex;
}
.main__body .main__selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main__body .main__selection .selection__separation {
  display: flex;
  margin-bottom: 10px;
}
.main__body .main__selection .selection__separation .button {
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
  min-width: 40px;
  min-height: 40px;
  border: none;
  text-align: center;
  text-decoration: none;
}
.main__body .main__selection .selection__separation .button:not(:last-of-type) {
  margin-right: 10px;
}
.main__body .main__selection .selection__separation .button:hover {
  cursor: pointer;
  fill: #00FAEB;
  fill-opacity: 1;
}
.main__body .main__selection .selection__separation .button:hover path {
  fill: #00FAEB;
  fill-opacity: 1;
}
.main__body .main__selection .selection__separation .button .active, .main__body .main__selection .selection__separation .button .active path {
  fill: #00FAEB;
  fill-opacity: 1;
}
.main__body .main__selection .selection__separation .active, .main__body .main__selection .selection__separation .active path {
  fill: #00FAEB;
  fill-opacity: 1;
}

.container__corps {
  overflow: hidden;
}

.main__stats {
  grid-area: 2/4/3/10;
  border-radius: 10px;
  position: relative;
}
.main__stats .scrollbar--position {
  display: flex;
  align-items: flex-end;
}
.main__stats .scrollbar--position .scrollbar {
  position: absolute;
  right: 136px;
  bottom: 123px;
  width: 22px;
}
.main__stats .text__corps--parent {
  margin-left: 20px;
  margin-top: 20px;
}
.main__stats .text__corps--parent .text__corps {
  opacity: 1;
}
.main__stats .text__corps--parent .text__corps:nth-child(1) {
  margin-bottom: 20px;
}
.main__stats .text__corps--parent .text__corps:nth-child(2) {
  margin-bottom: 40px;
}
.main__stats .text__corps--parent .text__corps:nth-child(3) {
  margin-bottom: 40px;
}
.main__stats .fond {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.main__stats .fond svg {
  width: 100%;
  height: 100%;
}
.main__stats .container {
  background-color: rgba(189, 213, 221, 0.1);
  display: flex;
  height: 84%;
  margin-left: 55px;
  margin-top: 7%;
  width: 87%;
  overflow: auto;
  z-index: 1;
}
.main__stats .container .objectAndPos {
  margin-top: 2%;
  display: flex;
  margin-left: 10px;
  width: 100%;
  flex-direction: column;
  height: 1400px;
}
.main__stats .container .objectAndPos .hidden {
  display: none;
}
.main__stats .container .objectAndPos .button {
  margin-top: 10px;
  background-color: #020E12;
  border: 2px solid #00FAEB;
  border-radius: 5px;
  color: #00FAEB;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
}
.main__stats .container .objectAndPos .button:hover {
  background-color: #00FAEB;
  color: #020E12;
  cursor: pointer;
}
.main__stats .container .objectAndPos canvas {
  height: 100%;
  width: 100%;
  color: #DCFFFD;
}
.main__stats .container .objectAndPos #container {
  width: 100%;
  height: 700px;
}
.main__stats .container::-webkit-scrollbar {
  width: 12px;
}
.main__stats .container::-webkit-scrollbar-track {
  background-color: transparent;
}

footer {
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  html {
    font-size: 85%;
  }
  body {
    overflow-x: hidden;
    width: calc(100vw - 80px);
  }
  .corps__hm {
    width: 100%;
  }
  .icon {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  html {
    font-size: 85%;
  }
  body {
    overflow-x: hidden;
    width: calc(100vw - 80px);
  }
  .corps__hm {
    width: 100%;
  }
  .icon {
    display: none;
  }
}
@media (max-width: 1000px) {
  nav {
    display: block;
  }
  nav .nav__links {
    display: none;
  }
  .main__body {
    display: none;
  }
  .main__stats {
    display: none;
  }
  .warning {
    grid-area: 2/1/2/10;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #00FAEB;
    margin-top: -56px;
  }
  .warning .paragraph {
    max-width: 600px;
    text-align: center;
  }
  .warning a {
    color: #DCFFFD;
    text-decoration: none;
  }
  .warning a:hover {
    color: #00FAEB;
  }
}
@media (min-width: 1001px) {
  .warning {
    display: none;
  }
}/*# sourceMappingURL=app.css.map */