@import 'utils/variables';
@import 'components/type';
@import 'components/graph';

@font-face {
    font-family: GoshaSans;
    src: url(../assets/PPGoshaSans-Regular.otf);
}

body{
    background-color: #020E12;
    line-height: 1.5;
    color:#DCFFFD;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left:5%;
    margin-right:5%;
}

nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height:80px;

    h1{
        font-size: 1.2rem;
    }

    .navtext{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color:#DCFFFD;
            &:hover{
                color:#00FAEB;
            }
        }
    }

    .nav__links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        list-style: none;
        width:25%;
        min-width: 400px;


        a{
            text-decoration: none;
            color:#DCFFFD;
            &:hover{
                color:#00FAEB;
            }
        }
    }

}

.corps_hm{
    width: 600px;
    height: 800px;
}
#tete{
    fill-opacity: 1;
}
#detail-tete {
    position: absolute;
    background-color: rgba(220, 255, 253, 0.600);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    ul{
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-right: 10px;
    }
    .cadre-tete{
        color: black;
    }
}
.icons{
    .icon{
        position:absolute;

        &:nth-child(1){
            top: 72%;
            left: 65%;
        }
        &:nth-child(2){
            top: 70%;
            left: 50%;
        }
        &:nth-child(3){
            top: 20%;
            left: 30%;
        }
        &:nth-child(4){
            top: 50%;
            left: 20%;
        }
        &:nth-child(5){
            top: 70%;
            left: 80%;
        }
        &:nth-child(6){
            top: 40%;
            left: 80%;
        }
        &:nth-child(7){
            top: 30%;
            left: 13%;
        }
        &:nth-child(8){
            top: 20%;
            left: 60%;
        }
        &:nth-child(9){
            top: 75%;
            left: 30%;
        }
        &:nth-child(10){
            top: 25%;
            left: 70%;
        }
        &:nth-child(11){
            top: 23%;
            left: 45%;
        }
        &:nth-child(12){
            top: 75%;
            left: 15%;
        }
    }
}

.mainindex {
    z-index:-1;
    display:flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 80px);
    // border: 2px solid #00FAEB;
    border-radius: 10px;

    .mainindex__content{
        margin: 2%;

        svg{
            z-index:-1;
        }

        .mainindex__text{
            position:relative;

            .bigtitle{
                z-index:1;
                padding-bottom:80px;
            }
        }
    }
}

.main {

    .title{
        margin-top:2%;
        margin-bottom:15px;
    }

    .subtitle{
        margin-top:3%;
    }

    .main__content{
        display: flex;
        justify-content: space-around;
        height:70vh;

        .main__body{
            width:35%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;

            .body__svg{
                height: 100%;
                display:flex;

                .active, .active path{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                }
                .body__main:hover path{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__bras:hover path{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__torse:hover{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__tete:hover{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__oeil:hover path{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__bouche:hover{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__oreille:hover path{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__pied:hover path{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__jambe:hover path{
                    fill: rgba(27, 244, 231, .55);
                    fill-opacity: 1;
                    cursor: pointer;
                }
                .body__bassin:hover{
                    fill: rgba(27, 244, 231, .55);;
                    fill-opacity: 1;
                    cursor: pointer;
                }
            }

            .main__objet{
                height: 100%;
                width: 100%;
                overflow:hidden;

                svg{
                    display:none;
                    margin:auto;

                    &.active{
                        display:flex;
                    }
                }
            }

            .main__selection{
                .button{
                    width:80px;
                    height:80px;
                    background-color: #020E12;
                    border:none;
                    text-align: center;
                    text-decoration: none;
                    &:hover{
                        cursor: pointer;
                        fill: #00FAEB;
                        fill-opacity: 1;

                        path{
                            fill: #00FAEB;
                            fill-opacity: 1;
                        }
                    }
                }
                .active, .active path{
                    fill: #00FAEB;
                    fill-opacity: 1;
                }
            }
        }

        .main__stats {
            margin-right:0;
            margin-left:auto;
            width:65%;
            // border: 2px solid #00FAEB;
            flex-shrink: 0;
            border-radius: 10px;

            .fond{
                width:55%;
                height: 80%;
                position:absolute;
                z-index:-1;
                top:15%;
                right:8%;
                svg{
                    width:100%;
                    height: 100%;
                }
            }

            .container{
                background-color: rgba(189, 213, 221, .1);
                display: flex;
                height:95%;
                margin-left:55px;
                margin-top:3%;
                width:82%;
                overflow: auto;
                z-index: 1;

                .objectAndPos{
                    margin-top: 2%;
                    display: flex;
                    margin-left: 10px;

                    .button{
                        margin-top: 10px;
                        background-color: #020E12;
                        border: 2px solid #00FAEB;
                        border-radius: 5px;
                        color: #00FAEB;
                        padding: 5px 5px;
                        text-align: center;
                        text-decoration: none;
                        &:hover{
                            background-color: #00FAEB;
                            color: #020E12;
                            cursor: pointer;
                        }
                    }



                    canvas{
                        height: 100%;
                        width: 100%;
                        color:#dcfffd;
                    }

                    #container{
                        width: 500px;
                        height:75%;
                    }
                }
            }
        }
    }
}
