@import 'utils/variables';
@import 'components/type';
@import 'components/graph';

$border: 56px;

*{
    margin:0;
    padding:0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-template-rows: 0fr minmax(0, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height:100%
    }

body{
    background-color: $c-bg;
    background-image: url(../assets/images/quadrillage.svg);
    background-size:contain;
    background-position: top 132px right 0px;
    line-height: 1.5;
    color:$c-text;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-right:40px;
    margin-top: $border;
    margin-bottom: 40px;
}

.fullscreen{
    height: calc(100vh - ($border + 40px));
}

nav {
    position:relative;
    margin-left: 40px;
    margin-right:40px;
    margin-bottom: 56px;
    grid-area: 1 / 1 / 2 / 10;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    z-index: 2;
    height:32px;

    h1{
        font-size: 1.2rem;
    }

    .navtext{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color:$c-text;
            &:hover{
                color:$c-alt;
            }
        }
    }

    .nav__links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin:0;
        width:25%;
        min-width: 400px;


        a{
            text-decoration: none;
            color:$c-text;
        }

        .links__el{
            position: relative;

            &::after{
                content: "";
                display: block;
                width: 0%;
                transition: width .3s;
                border-bottom: 1px solid $c-alt;
            }
            &:hover{
                transition: .3s;
            }
            &:hover::after{
                width: 100%;
                transition: width .3s;
            }
        }

        .links__el--active{
            &::after{
                position: absolute;
                content: "";
                display: block;
                width: 10%;
                border-bottom: 1px solid $c-alt;
            }
            &:hover{
                transition: .3s;
            }
        }
    }
    .menu--active{
        border-bottom: 1px solid $c-text;
    }

}

.corps__hm{
    width: 600px;
    height: 800px;
    fill-opacity: 1;
}

.detail__hm{
    position: absolute;
    background-color: rgba(220, 255, 253, 0.600);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    .cadre{
        color: black;
    }
    .title__cadre{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
        .nbr--big{
            font-size: 24px;
        }
    }
    ul{
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.icons{
    z-index: -1;
    .icon{
        position:absolute;
        @keyframes float1 {
            0% {
                transform: translate(0, 0) rotate(0) scale(1);
            }
            50% {
                transform: translate(50px, 50px) rotate(180deg) scale(0.5);
            }
            100% {
                transform: translate(0, 0) rotate(360deg) scale(1);
            }
        }
        @keyframes float2 {
            0% {
                transform: translate(0, 0) rotate(0) scale(1);
            }
            50% {
                transform: translate(-50px, -50px) rotate(180deg) scale(2);
            }
            100% {
                transform: translate(0, 0) rotate(360deg) scale(1);
            }
        }
        &:nth-child(1){
            top: 72%;
            left: 65%;
            animation: float1 8s infinite ease-in-out;
            animation-delay: 2s;
        }
        &:nth-child(2){
            top: 70%;
            left: 50%;
            animation: float2 6s infinite ease-in-out;
        }
        &:nth-child(3){
            top: 15%;
            left: 25%;
            animation: float1 8s infinite ease-in-out;
            animation-delay: 2s;
        }
        &:nth-child(4){
            top: 50%;
            left: 20%;
            animation: float2 6s infinite ease-in-out;
        }
        &:nth-child(5){
            top: 70%;
            left: 85%;
            animation: float1 5s infinite ease-in-out;
        }
        &:nth-child(6){
            top: 55%;
            left: 90%;
            animation: float2 8s infinite ease-in-out;
            animation-delay: 2s;
        }
        &:nth-child(7){
            top: 23%;
            left: 10%;
            animation: float1 5s infinite ease-in-out;
        }
        &:nth-child(8){
            top: 20%;
            left: 60%;
            animation: float2 6s infinite ease-in-out;
        }
        &:nth-child(9){
            top: 75%;
            left: 30%;
            animation: float1 8s infinite ease-in-out;
            animation-delay: 2s;
        }
        &:nth-child(10){
            top: 20%;
            left: 80%;
            animation: float2 6s infinite ease-in-out;
            animation-delay: 2s;
        }
        &:nth-child(11){
            top: 23%;
            left: 45%;
            animation: float1 5s infinite ease-in-out;
        }
        &:nth-child(12){
            top: 75%;
            left: 10%;
            animation: float2 8s infinite ease-in-out;
            animation-delay: 5s;
        }

    }
.title--big{
    font-size: 3.583rem;
    color: $c-alt;
    text-transform: uppercase;
    }
}

.title{
    margin-bottom:15px;
    text-align: left;
}

.subtitle{
    margin-top:3%;
    margin-left: 2%;
    color: #00FAEB;
    text-transform: uppercase;
}



/* STYLE TEXT LANDING */

.title-big{
    font-size: 5.16rem;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
}

.title{
    font-size: 2.488rem;
    margin-bottom: 48px;
}
.title-little{
    font-size: 1.728rem;
    margin-bottom: 16px;
}
.text-big{
    font-size: 1.44rem;
    margin-bottom: 24px;
    font-family: Work Sans;
    text-align: center;
    max-width: 1059px;
}
.text-big--solo{
    padding-top: 50.01vh;
}
.text{
    margin-bottom: 24px;
    font-family: Work Sans;
    max-width: 625px;
}
.text-little{
    font-size: 0.833rem;
}
.legend-number{
    font-size: 0.694rem;
}
.text-color{
    color: $c-alt;
}
.text--center{
    text-align: center;
}

/* text inteface */
.text-i{
    max-width: 550px;
}

/* sections landing */

.section{
    height: 100vh;
    width: calc(100vw - 80px);
}

.section--1 {
    justify-content: center;
    align-items: center;
    display:flex;
    height: calc(100vh - 132px);
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom:132px;
    }
    .text-big span{
        text-transform: uppercase;
    }
}

.section--2, .section--9{
    display: flex;
    justify-content: center;
}

.section--3, .section--7, .section--10{
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-auto-rows: min-content;
    grid-column-gap: 20px;

    .title{
        grid-column: 2/6;
        margin-top: 20vh;
    }
    .text{
        grid-column: 2/6;
    }
}
.section--5{
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-auto-rows: min-content;
    grid-column-gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
    
    .text-heatmap{
        grid-column: 1/6;
        align-self: center;
    }
    .heatmap{
        grid-column: 6/9;
    }

}

.section--9{
    .div9{
        .text-big{
            margin-bottom: 56px;
        }
        .links9{
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            margin: auto 260px;

            .link{
                display: block;
                padding: 16px 26px;
                text-decoration: none;
                cursor: pointer;
                color: $c-text;
                border: 1px solid $c-alt;
                background-color: rgba(0, 250, 233, 0.05);
            }
        }
    }

}



.section--4{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;

    a{
        width:100%;
        height:100%;
        text-decoration:none;
        color: $c-text;
        display:flex;
        align-items: center;
        justify-content: center;

        div{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .section--4--link p{
            color: rgb(255, 255, 255,0);
        }

        &:hover{
            background-color:rgb(233, 233, 233,.04);

            .section--4--link p{
                color: $c-text;
                text-decoration:underline;
            }
        }
    }
}
.section--6{
    .title-little{
        padding-top: 160px;
        padding-bottom: 80px;
        text-align: center;
    }
}

.section--8{
    .title{
        text-align: center;
    }
    .box-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 73px;
        .box{
            padding: 32px 40px;

            h4{
                font-size: 1.44rem;
                margin-bottom: 24px;
            }
        }
    }
}

.section--10{
    height: calc(100vh - 70px);
}







.main__body{
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .body__svg{
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        display:flex;
        .active, .active path{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
        }
        .body__main:hover path{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__bras:hover path{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__torse:hover{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__tete:hover{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__oeil:hover path{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__bouche:hover{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__oreille:hover path{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__pied:hover path{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__jambe:hover path{
            fill: rgba(27, 244, 231, .55);
            fill-opacity: 1;
            cursor: pointer;
        }
        .body__bassin:hover{
            fill: rgba(27, 244, 231, .55);;
            fill-opacity: 1;
            cursor: pointer;
        }
    }

    .main__objet{
        height: 100%;
        width: 100%;
        overflow:hidden;

        svg{
            display:none;
            margin:auto;
            height:100%;

            &.active{
                display:flex;
            }
        }
    }

    .main__selection{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .selection__separation{
            display:flex;
            margin-bottom:10px;
            .button{
                width:100%;
                height:100%;
                max-width: 80px;
                max-height: 80px;
                min-width: 40px;
                min-height: 40px;
                border:none;
                text-align: center;
                text-decoration: none;
                &:not(:last-of-type){
                    margin-right: 10px;
                }
                &:hover{
                    cursor: pointer;
                    fill: $c-alt;
                    fill-opacity: 1;

                    path{
                        fill: $c-alt;
                        fill-opacity: 1;
                    }
                }

                .active, .active path{
                    fill: #00FAEB;
                    fill-opacity: 1;
                }
            }
            .active, .active path{
                fill: $c-alt;
                fill-opacity: 1;
            }
        }
    }
}
.container__corps{
    overflow: hidden;
}
.main__stats {
    grid-area: 2 / 4 / 3 / 10;
    border-radius: 10px;
    position:relative;
    }
    .text__corps--parent{
        margin-left: 20px;
        margin-top: 20px;
        .text__corps{
            opacity: 1;
            &:nth-child(1){
                margin-bottom: 20px;
            }
            &:nth-child(2){
                margin-bottom: 40px;
            }
            &:nth-child(3){
                margin-bottom: 40px;
            }
        }
    }
    
    .fond{
        width:100%;
        height: 100%;
        position:absolute;
        z-index:-1;
        svg{
            width:100%;
            height: 100%;
        }
    }

    .container{
        background-color: rgba(189, 213, 221, .1);
        display: flex;
        height:84%;
        margin-left:55px;
        margin-top:7%;
        width:87%;
        overflow: auto;
        z-index: 1;

        .objectAndPos{
            margin-top: 2%;
            display: flex;
            margin-left: 10px;
            width: 100%;
            flex-direction: column;

            .hidden{
                display: none;
            }
            
            .button{
                margin-top: 10px;
                background-color: $c-bg;
                border: 2px solid $c-alt;
                border-radius: 5px;
                color: $c-alt;
                padding: 5px 5px;
                text-align: center;
                text-decoration: none;
                &:hover{
                    background-color: $c-alt;
                    color: $c-bg;
                    cursor: pointer;
                }
            }

            #container{
                width: 100%;
                height: 700px;
            

            }

            .funFact__container{
                width: 384px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 110px;
                margin-bottom: 100px;
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: center;
                position: relative;

                .funFact__title{
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $c-alt;
                    margin-bottom: 10px;
                }
    
                .funFact__text{
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }

            

            
                
            
            
        }
    }
    .container::-webkit-scrollbar{
        width: 12px;
    }
    .container::-webkit-scrollbar-track{
        background-color: transparent;
    }

    .stats__container{
        position: relative;
        .scrollbar--position{
            display: flex;
            align-items: flex-end;
    
            .scrollbar{
                position: absolute;
                right: 10px;
                top: 400px;
                width: 22px;
            }
    }
    .statPart{
        display: flex;
        justify-content: space-around;
        margin-top: 75px;
    }
    .statA{
        background-color:rgba(0, 250, 233, 0.06);
        width: 336px;
        height: 214px;
        .statA__value{
            width: 234px;
            height: 60px;
            margin-left: 40px;
            margin-right: 62px;
            margin-top: 32px;
            font-size: 40px;
            color: #00FAEB;
        }
        .statA__phrase{
            width: 256px;
            height: 58px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 32px;
        }
    }
    .statB{
        background-color:rgba(0, 250, 233, 0.06);
        width: 336px;
        height: 214px;
        .statB__value{
            width: 234px;
            height: 60px;
            margin-left: 40px;
            margin-right: 62px;
            margin-top: 32px;
            font-size: 40px;
            color: #00FAEB;
        }
        .statB__phrase{
            width: 256px;
            height: 58px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 32px;
        }
    }
    .statObjet{
        display: flex;
        justify-content: space-around;
        margin-top: 75px;
    }
    .stat1{
        background-color:rgba(0, 250, 233, 0.06);
        width: 336px;
        height: 214px;
        .stat1__value{
            width: 234px;
            height: 60px;
            margin-left: 40px;
            margin-right: 62px;
            margin-top: 32px;
            font-size: 40px;
            color: #00FAEB;
        }
        .stat1__phrase{
            width: 256px;
            height: 58px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 32px;
        }
    }
    .stat2{
        background-color:rgba(0, 250, 233, 0.06);
        width: 336px;
        height: 214px;
        .stat2__value{
            width: 234px;
            height: 60px;
            margin-left: 40px;
            margin-right: 62px;
            margin-top: 32px;
            font-size: 40px;
            color: #00FAEB;
        }
        .stat2__phrase{
            width: 256px;
            height: 58px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 32px;
        }
    }
}

footer{
    margin-right:40px;
    margin-left:40px;
    display:flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    html {font-size: 85%;}
    body{overflow-x: hidden;width:calc(100vw - 80px)}
    .corps__hm{width: 100%;}
    .icon{display:none;}
}

@media (min-width: 601px) and (max-width: 1000px){
    html {font-size: 85%;}
    body{overflow-x: hidden;width:calc(100vw - 80px)}
    .corps__hm{width: 100%;}
    .icon{display:none;}
}

@media (max-width: 1000px){
    nav{
        display:block;
        .nav__links{
            display:none;
        }
    }

    .main__body{
        display:none;
    }

    .main__stats{
        display:none;
    }

    .warning{
        grid-area: 2 / 1 / 2 / 10;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        color: $c-alt;
        margin-top: calc(0px - $border);

        .paragraph{
            max-width: 600px;
            text-align: center;
        }

        a{
            // TODO: add link styling here
            color: $c-text;
            text-decoration: none;

            &:hover{
                color: $c-alt;
            }
        }
    }
}

@media (min-width:1001px){
    .warning{
        display:none;
    }
}
